.contactcon {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.location .title h2 {
    color: #000 !important;
}
.cardhover a img {
    width: 100%;
    height: 280px;
    display: block;
    position: relative;
}


.cardhover {
    position: relative;
    overflow: hidden;
  }
  
  .location__img {
    width: 100%;
    height: 280px;
    display: block;
    position: relative;
}
  
  .cardhover__img {
    transition: transform 2.2s ease;
  }
  
  .cardhover:hover .cardhover__img {
    transform: scale(1.8);
    filter: brightness(60%);

  }


  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 500;
  transition: transform 2.2s ease;
  }
  
  .cardhover:hover .overlay {
    opacity: 1;
  }
  
  

