.bannershape img{
    width: 340px;
    left: -187px;
    right: 0;
    position: absolute;
    height: max-content;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: -1;
}

@media only screen and (max-width : 800px ){ 
.bannershapeimg {
    width: 251px;
}
}