.role {
    color: #4a569c;
    font-size: 1rem !important;
    text-transform: uppercase;
    font-weight: 800 !important;
}
.roleList {
    padding-left: 17px;
}
.roleList li{
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.65;
    padding: 0.25rem 0;
    list-style-type: disc !important;
}
.req {
    color: #4a569c;
    font-size: 1rem !important;
    text-transform: uppercase;
    font-weight: 800 !important;
}
.reqList {
    padding-left: 17px;
}
.reqList li{
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.65;
    padding: 0.25rem 0;
    list-style-type: disc !important;
}
