.para{
    margin-bottom: 3px;
    list-style: circle;
}
.para a{
    color: black;
    font-size: 15px;
}
.flexContainer {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  .para a:hover {
    color: rgb(50, 0, 188) 
  }

.mail_a{
    text-decoration: none;
    margin-top: 10px;
    color: black;
}