/* description */

.link{
    color:#000;
    text-decoration: none;
}
.link:hover{
    color:#323cd0;
}

.navigate{
    font-weight: 600;
    color: #1f2357;
}

.image{
    width: 100%;
}

.list{
    padding: 5px;
}