.btn{
    font-size: 14px;
    padding: 9px 22px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
}

.apply{
    background-color: #4a569c;
    color: white;
}

.apply:hover{
    background-color: #4a569c;
    color: #fff;
}

.load{
    background-color: #4a569c;
    color: white;
    padding:0 40px;
}

.load:hover{
    background-color: #4a569c;
    color: white;
    padding:0 40px;
}

.cancel, .cancel:hover{
    background-color: #b9141f;
    color: #fff;
}
.close{
    color: #b9141f;
    font-size: x-large;
    box-shadow: none;
    border:none;
}
.close:hover{
    color: #b9141f;
   
}

.number{
    font-family: "Open Sans", sans-serif;
    font-size: 8px;
    font-weight: 300
}