/* header */

.nav {
    background-color: #1c4e2d;
  }  
  
  .dropArrow::after {
    display: none;
  }
  
  .navLink,
  .navLink:hover {
    color: #fff;
    font-size: 15px;
  }
  
  .customDropdown .dropdownMenu {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.4s ease;
  }
  
  .customDropdown:hover .dropdownMenu {
    max-height: none;
    opacity: 1;
    transform: translateY(0);
  }
  
  .Icon {
    color: white;
    font-size: 2.5rem;
  }
  
  .btn:focus {
    border: 0;
    box-shadow: none;
  }
  
  
  
  /* search */
  
  
  .icon {
    font-size: 25px;
  }
  
  .searchButton {
    background: none;
    border: none;
  }
  
  .input {
    height: 35px;
  }
  
  