
.aboutcon p {
    color: black;
    vertical-align: middle;
    text-align: justify;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
}

.title h2 {
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
}
b {
    padding: 5px 0px 10px 30px;
}
.aboutimg img{
    width: 100%;
}
@media only screen and (max-width : 754px ){ 
    
    .aboutcon{
        padding-top: 10px;
    }
    
}